<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% if(typeof nombre === 'undefined'){%>
    <h1>formulariooooaaaaaaaaaaaaaaaaaa</h1>
    <form action="res.ejs" method="POST">
        <div>
            <label for="campofruta">nombre: </label>
                <input type="text" id="nombre" name="nombre">
        </div>
        <div>
            <label for="campofruta">apellidos: </label>
                <input type="text" id="apellidos" name="apellidos">
        </div>
        <div>
            <label for="campofruta">eres hombre o mujer: </label>
            <input type="radio" name="genero" value="hombre">
            <input type="radio" name="genero" value="mujer">
        </div>
        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>
    <%}else{%>
        <% if (nombre==""||apellidos=="") { %>
            <h2>faltan campossssssssssssssss</h2>
            <form action="index.ejs">
                <button type="submit">regresar</button>
            </form>
           
        <% } else{ %>
        <label for="">TU NOMBRE ES: </label><%= nombre %>
        <label for="">TUS APELLIDOS SON: </label><%= apellidos %>
        <label for="">tu genero es </label><%= genero %>
        <form action="index.ejs">
            <button type="submit">regresar</button>
        </form>
           <%}%>
    <%}  %>
</body>
</html>