<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>formularioooo</h1>
    <form action="res.ejs" method="GET">
        <div>
            <label for="campofruta">Su fruta preferida: </label>
                <input type="text" id="campofruta" name="fruta">
        </div>
        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>
</body>
</html>